**Reading in Files + Importing Pandas and Numpy**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
! git clone https://github.com/DS3001/group12

fatal: destination path 'group12' already exists and is not an empty directory.

In [ ]:
df_train = pd.read_csv('./group12/project_2/data/training_data.csv')
df_test = pd.read_csv('./group12/project_2/data/testing_data.csv')

**Data Wrangling**

In [ ]:
print(df_train['age'].unique(),'\n')
print(df_train['age'].value_counts(), '\n')
print(df_train['age'].describe(),'\n')

[3.60e+01 4.50e+01 5.80e+01 6.10e+01 7.80e+01 3.40e+01 3.70e+01 6.30e+01
 7.20e+01 5.90e+01 2.60e+01 4.60e+01 1.70e+01 2.90e+01 1.60e+01 4.40e+01
 7.90e+01 7.30e+01 3.00e+01 5.00e+00 3.20e-01 1.30e+01 2.20e+01 8.00e+01
 6.20e+01 6.70e+01 5.60e+01 1.10e+01 4.00e+01 2.40e-01 9.00e+00 6.00e+01
 7.40e+01 2.80e+01 5.10e+01 5.20e+01 3.20e+01 2.50e+01 8.20e+01 3.50e+01
 2.30e+01 4.70e+01 5.50e+01 2.70e+01 6.00e+00 3.30e+01 4.90e+01 5.30e+01
 4.20e+01 5.70e+01 6.60e+01 7.10e+01 1.60e-01 5.40e+01 3.00e+00 7.00e+00
 6.40e+01 4.30e+01 3.10e+01 2.10e+01 6.50e+01 1.80e+01 4.10e+01 8.10e+01
 1.00e+00 2.40e+01 3.90e+01 7.00e+01 2.00e+00 4.80e+01 8.00e-02 3.80e+01
 7.50e+01 1.88e+00 1.00e+01 1.20e+01 6.40e-01 2.00e+01 5.00e+01 7.70e+01
 1.90e+01 1.08e+00 8.00e+00 6.90e+01 6.80e+01 1.40e+01 4.00e+00 7.60e+01
 1.16e+00 1.80e+00 1.72e+00 1.32e+00 1.50e+01 4.00e-01 8.80e-01 7.20e-01
 5.60e-01 1.24e+00 1.64e+00 1.56e+00 4.80e-01 1.40e+00 8.00e-01 1.48e+00]

78.00    89
51.00    75
53.00    73
45.00    73
55.00    71
         ..
0.40      2
0.08      2
0.48      2
1.40      2
0.16      2
Name: age, Length: 104, dtype: int64

count    4087.000000
mean       43.324169
std        22.531019
min         0.080000
25%        26.000000
50%        45.000000
75%        61.000000
max        82.000000
Name: age, dtype: float64

In [ ]:
values_to_replace = [1.40, 1.08, 1.16, 1.32, 1.24, 1.48]
replacement_value = 1

df_train['age'] = df_train['age'].replace(values_to_replace, replacement_value)
df_test['age'] = df_train['age'].replace(values_to_replace, replacement_value)

values_to_replace2 = [0.40, 0.08, 0.48, 0.16, 0.32, 0.88, 0.72, 0.56, 0.24, 0.64, 0.8]
replacement_value2 = 0

df_train['age'] = df_train['age'].replace(values_to_replace2, replacement_value2)
df_test['age'] = df_train['age'].replace(values_to_replace2, replacement_value2)


values_to_replace3 = [1.88, 1.72, 1.64, 1.56, 1.8]
replacement_value3 = 2

df_train['age'] = df_train['age'].replace(values_to_replace3, replacement_value3)
df_test['age'] = df_train['age'].replace(values_to_replace3, replacement_value3)

In [ ]:
print(df_train['avg_glucose_level'].unique(),'\n')
print(df_train['avg_glucose_level'].value_counts(), '\n')
print(df_train['avg_glucose_level'].describe(),'\n')

[ 65.87  68.66 170.93 ...  80.13 210.4   86.94]

93.88     6
93.55     4
80.08     4
88.83     4
83.16     4
         ..
220.64    1
70.32     1
55.62     1
118.75    1
86.94     1
Name: avg_glucose_level, Length: 3327, dtype: int64

count    4087.000000
mean      106.010396
std        45.047912
min        55.120000
25%        77.295000
50%        92.000000
75%       113.845000
max       271.740000
Name: avg_glucose_level, dtype: float64

In [ ]:
print(df_train['bmi'].unique(),'\n')
print(df_train['bmi'].value_counts(), '\n')
print(df_train['bmi'].describe(),'\n')

[32.2 25.3 30.7 27.1 30.6 30.4 41.7 22.3 35.9 33.8 29.4 28.9 26.2 22.5
 55.7 26.1 22.4 33.2 24.8 20.9 22.  27.6 35.8 32.8 15.9 16.2 41.3 22.9
 19.5 31.1 31.9 30.9 15.7 24.6 18.6 27.4 25.6 25.4 25.5 26.3 35.2  nan
 28.3 32.3 18.8 33.7 30.8 41.1 31.2 33.3 20.8 19.4 46.5 28.7 23.6 31.7
 29.9 26.7 28.5 29.3 29.6 19.2 34.9 32.4 17.4 36.1 43.2 20.2 31.4 30.2
 20.4 30.5 34.7 26.5 35.5 33.9 29.2 24.9 17.6 23.  19.8 23.5 32.7 39.4
 35.3 30.1 27.2 29.  36.6 33.1 38.4 20.  28.6 23.9 23.2 23.7 60.9 22.1
 25.9 26.  31.5 16.7 31.  43.6 24.5 32.  35.1 18.3 44.7 54.7 39.7 26.4
 34.3 17.7 32.1 35.7 40.1 16.9 35.  38.1 71.9 43.7 19.1 26.6 17.9 27.9
 25.8 21.  28.8 49.3 37.2 23.1 40.5 35.6 20.7 34.  36.4 20.1 37.3 22.2
 17.3 28.  25.  21.8 28.1 39.2 32.6 25.1 41.2 26.9 24.1 38.5 33.6 17.
 33.4 18.1 34.8 30.3 16.  29.5 18.2 27.8 39.  24.3 21.9 37.8 23.4 22.8
 21.1 24.7 43.9 21.5 22.6 20.3 18.4 38.6 19.  57.2 33.  29.1 48.8 16.4
 21.4 29.8 17.2 45.  13.7 38.  15.6 31.8 43.  24.  42.3 16.6 23.8 44.8
 27.3 20.6 37.9 34.5 24.2 27.  18.5 21.3 30.  37.  36.2 31.6 16.3 14.1
 18.7 36.7 47.6 39.9 43.8 27.7 42.1 14.4 29.7 36.9 39.1 26.8 44.  38.8
 23.3 40.4 35.4 14.3 21.6 37.4 51.  13.8 33.5 19.3 28.2 53.9 27.5 15.5
 28.4 13.3 20.5 46.4 52.3 34.1 32.9 36.3 41.8 25.7 14.6 42.2 31.3 25.2
 38.9 45.8 54.  12.  34.2 19.7 53.8 16.8 17.8 41.6 22.7 59.7 40.3 18.
 55.2 34.4 37.6 41.5 18.9 41.  42.4 40.2 15.4 37.1 50.5 43.3 78.  54.1
 16.1 19.6 42.8 42.5 17.1 34.6 36.8 24.4 37.7 17.5 45.1 21.2 46.  44.5
 49.5 32.5 14.  40.7 45.3 15.8 42.7 48.2 40.8 36.  37.5 57.7 36.5 48.5
 50.3 13.5 50.2 14.8 39.8 38.2 40.  45.2 38.3 55.9 60.2 46.9 49.8 21.7
 19.9 40.9 43.1 15.3 39.5 53.5 39.6 48.  52.8 56.  47.5 15.2 42.  15.1
 56.1 50.9 14.9 52.9 51.5 48.7 38.7 13.4 57.9 46.8 47.3 92.  44.9 42.9
 52.7 66.8 39.3 16.5 43.4 12.8 50.6 52.5 54.2 51.8 64.4 14.2 49.4 44.4
 51.7 42.6 45.4 12.3 48.3 47.8 56.6 97.6 48.4 14.5 55.  41.9 41.4 44.6
 55.1 47.1 49.2 44.3 45.5 48.9 46.2 13.  44.2 57.3 15.  46.1 13.2 61.2
 50.8 61.6 63.3 10.3 53.4 54.8 11.3 46.3 46.6 45.9 44.1 45.7]

27.6    34
28.7    31
26.1    31
28.4    31
25.5    28
        ..
56.1     1
56.0     1
48.0     1
53.5     1
45.7     1
Name: bmi, Length: 403, dtype: int64

count    3928.000000
mean       28.923371
std         7.843083
min        10.300000
25%        23.600000
50%        28.100000
75%        33.100000
max        97.600000
Name: bmi, dtype: float64

In [ ]:
df_train['bmi'] = df_train['bmi'].fillna(28.9)
df_test['bmi'] = df_test['bmi'].fillna(28.9)

In [ ]:
print(df_train['ever_married'].unique(),'\n')
print(df_train['ever_married'].value_counts(), '\n')
print(df_train['ever_married'].describe(),'\n')

['Yes' 'No']

Yes    2686
No     1401
Name: ever_married, dtype: int64

count     4087
unique       2
top        Yes
freq      2686
Name: ever_married, dtype: object

In [ ]:
print(df_train['gender'].unique(),'\n')
print(df_train['gender'].value_counts(), '\n')
print(df_train['gender'].describe(),'\n')

['Male' 'Female' 'Other']

Female    2398
Male      1688
Other        1
Name: gender, dtype: int64

count       4087
unique         3
top       Female
freq        2398
Name: gender, dtype: object

In [ ]:
print(df_train['heart_disease'].unique(),'\n')
print(df_train['heart_disease'].value_counts(), '\n')
print(df_train['heart_disease'].describe(),'\n')

[0 1]

0    3858
1     229
Name: heart_disease, dtype: int64

count    4087.000000
mean        0.056031
std         0.230010
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: heart_disease, dtype: float64

In [ ]:
print(df_train['hypertension'].unique(),'\n')
print(df_train['hypertension'].value_counts(), '\n')
print(df_train['hypertension'].describe(),'\n')

[0 1]

0    3687
1     400
Name: hypertension, dtype: int64

count    4087.000000
mean        0.097871
std         0.297177
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: hypertension, dtype: float64

In [ ]:
print(df_train['id'].unique(),'\n')
print(df_train['id'].value_counts(), '\n')
print(df_train['id'].describe(),'\n')

[68685 59058 46068 ... 37060 29552 14499]

68685    1
25446    1
51524    1
59743    1
5043     1
        ..
57944    1
53976    1
52419    1
19907    1
14499    1
Name: id, Length: 4087, dtype: int64

count     4087.000000
mean     36383.068265
std      21189.857848
min         67.000000
25%      17417.500000
50%      36814.000000
75%      54584.500000
max      72940.000000
Name: id, dtype: float64

In [ ]:
print(df_train['Residence_type'].unique(),'\n')
print(df_train['Residence_type'].value_counts(), '\n')
print(df_train['Residence_type'].describe(),'\n')

['Urban' 'Rural']

Urban    2052
Rural    2035
Name: Residence_type, dtype: int64

count      4087
unique        2
top       Urban
freq       2052
Name: Residence_type, dtype: object

In [ ]:
print(df_train['smoking_status'].unique(),'\n')
print(df_train['smoking_status'].value_counts(), '\n')
print(df_train['smoking_status'].describe(),'\n')

['formerly smoked' 'never smoked' 'Unknown' 'smokes']

never smoked       1505
Unknown            1241
formerly smoked     699
smokes              642
Name: smoking_status, dtype: int64

count             4087
unique               4
top       never smoked
freq              1505
Name: smoking_status, dtype: object

In [ ]:
print(df_train['work_type'].unique(),'\n')
print(df_train['work_type'].value_counts(), '\n')
print(df_train['work_type'].describe(),'\n')

['Govt_job' 'Self-employed' 'Private' 'children' 'Never_worked']

Private          2329
Self-employed     667
children          542
Govt_job          534
Never_worked       15
Name: work_type, dtype: int64

count        4087
unique          5
top       Private
freq         2329
Name: work_type, dtype: object

In [ ]:
print(df_train['stroke'].unique(),'\n')
print(df_train['stroke'].value_counts(), '\n')
print(df_train['stroke'].describe(),'\n')

[0 1]

0    3888
1     199
Name: stroke, dtype: int64

count    4087.000000
mean        0.048691
std         0.215248
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: stroke, dtype: float64

**Data Testing Models**

In [ ]:
y_train = df_train['stroke']
X_train = df_train.drop('stroke',axis=1)

y_test = df_test['stroke']
X_test = df_test.drop('stroke',axis=1)

**Decision Tree Features + KNN**

---

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error


cart = DecisionTreeClassifier()
cart = cart.fit(X_train, y_train)
tree_predictions_train = cart.predict(X_train)
tree_predictions_test = cart.predict(X_test)

combined_train_features = pd.concat([X_train, pd.DataFrame(tree_predictions_train, columns=['Tree_Predictions'])], axis=1)
combined_test_features = pd.concat([X_test, pd.DataFrame(tree_predictions_test, columns=['Tree_Predictions'])], axis=1)


knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(combined_train_features, y_train)
knn_predictions = knn.predict(combined_test_features)


rmse = mean_squared_error(y_test, knn_predictions, squared=False)
print(f"RMSE for KNN predictions on test set: {rmse}")

ValueError: ignored